RewriteEngine On

# Jika fail atau direktori wujud, guna terus
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect semua ke public/index.php
RewriteRule ^(.*)$ public/index.php [L]