RewriteEngine On

# Elak akses ke fail .config.php dan fail tersembunyi
RewriteRule ^\.config\.php$ - [F,L]
RewriteRule ^\.  - [F,L]

# Jika fail atau direktori wujud, guna terus
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect semua ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Elak directory listing
Options -Indexes
